.selectWrapper {
    display: flex;
    align-items: center;

    .selectLabel {
        margin-right: 8px;
        color: var(--primary-color);
    }

    .select {
        background: none;
        outline: none;
        color: var(--pramary-color);
        padding: 2px 10px 2px 2px;
        border: 1px solid var(--primary-color);
    }
}

.selectOption {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}

.readonly::-ms-expand {
    display: none;
}
